header {
    background: #eee;
    grid-area: header;
    width: 100%;
  }
  footer {
    background: #eee;
    grid-area: footer;
    width: 100%;
  }
  nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcdcdc;
    height:96vh !important;
    padding-top:20px;
    border-right: 1px solid black;
  }
  nav > button {
    cursor: pointer !important;;
    margin:5px;
  }
  #grid-books {
    display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas:
    "header header"
    "nav  main"
    "nav  footer";
  height: 100vh;
  margin: 0;
  }
  main {
    grid-area:main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . ."
      ". . . . .";
    height:96vh !important;
    overflow-y: scroll;
  }
  
  .menu-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    position: absolute;
  }
  .menu-popup .btn {
    width: 100%;
  }