
.m-link-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px 60px;
    box-shadow: 4px 7px 1px 0px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  .m-link-form span {
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .m-link-form .show-error {
    opacity: 1;
    margin-top: 10px;
  }
  .m-link-form h3 {
    font-weight: 800;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #494949;
  }
  .m-link-form input[type=text], .m-link-form input[type=password] {
    display: block;
    border: none;
    border-bottom: 2px solid rgba(173, 173, 173, 0.4);
    padding: 5px 0;
    color: #494949;
    width: 100%;
  }
  .m-link-form input[type=submit] {
    border: none;
    background-color: #58dd77;
    color: #fff;
    padding: 10px 20px;
    margin-top: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .link_controls {
    display: flex;
    justify-content: space-between;
  }